body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f2f2f2;
    text-transform: capitalize;
    font-size: 18px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#result-container {
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.correct-answer {
    color: #28a745;
    font-weight: bold;
}
.incorrect-answer {
    color: #dc3545;
    font-weight: bold;
}
#timer-container {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
}
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f2f2f2;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#result-container {
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.correct-answer {
    color: #28a745;
    font-weight: bold;
}
.incorrect-answer {
    color: #dc3545;
    font-weight: bold;
}
#timer-container {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
}